services:
  mongodb:
    image: mongo:7.0
    container_name: taskmanager-mongodb
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME_FILE: /run/secrets/mongo_root_user
      MONGO_INITDB_ROOT_PASSWORD_FILE: /run/secrets/mongo_root_password
    secrets:
      - mongo_root_user
      - mongo_root_password
    volumes:
      - mongodb_data:/data/db
    networks:
      - taskmanager-network
      - monitoring

  backend:
    build:
      context: ./tasks-manager-backend
    container_name: taskmanager-backend
    restart: unless-stopped
    secrets:
      - mongo_root_user
      - mongo_root_password
    networks:
      - taskmanager-network
      - monitoring
    ports:
      - "3001:3000"
    environment:
      - PORT=3000

  frontend:
    build:
      context: ./tasks-manager-frontend
    container_name: taskmanager-frontend
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - taskmanager-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus

networks:
  taskmanager-network:
    driver: bridge

  monitoring:
    driver: bridge

volumes:
  mongodb_data:

secrets:
  mongo_root_user:
    file: ./secrets/mongo_root_user.txt
  mongo_root_password:
    file: ./secrets/mongo_root_password.txt
